:host > mat-table {
  mat-header-cell,
  mat-cell {
    border: none;

    .badge {
      margin-inline-start: 0.5rem;
      padding-block: 0.25rem;
      padding-inline: 0.5rem;
      background: black;
      border-radius: 100%;
    }
  }

  .group-row {
    transition: background 0.3s;

    &:not(.expanded) {
      &:hover {
        background: black;
        cursor: pointer;
      }

      &:active {
        background: #efefef;
      }
    }
  }

  .mat-column {
    &-expand,
    &-closePosition {
      padding-inline: 0.25rem;
      max-width: 3rem;
    }

    &-orderId,
    &-size,
    &-swap {
      flex: 2;
    }

    &-openTime {
      flex: 3;
    }

    &-openPrice {
      justify-content: flex-end;
      text-align: right;
    }

    &-expandedDetail {
      padding-inline: 0;

      mat-table {
        overflow: hidden;

        mat-cell {
          font-size: 0.8rem;
          color: rgba(255, 255, 255, 0.6);

          &.mat-column-closePosition mat-icon {
            font-size: 1rem;
            inline-size: 1rem;
            block-size: 1rem;
          }
        }
      }
    }
  }
}
