:host {
  display: block;
  padding: 1rem;

  > mat-table {
    background-color: var(--color-table-background);

    mat-header-cell,
    mat-cell {
      border: none;
      color: var(--color-font);

      @media (width <= 1366px) {
        font-size: 0.8rem;
      }

      @media (width <= 1112px) {
        padding-inline: 0.5rem;
      }

      .badge {
        margin-inline-start: 0.5rem;
      }

      &.positive {
        color: var(--color-profit-positive);
      }

      &.negative {
        color: var(--color-profit-negative);
      }
    }

    mat-row {
      transition: background 0.3s;
    }

    .group-row {
      &:hover {
        background: var(--color-table-background-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--color-background);
      }
    }

    .mat-column {
      &-expand,
      &-closePosition {
        padding-inline: 0.25rem;
        max-width: 3rem;
      }

      &-orderId,
      &-size,
      &-swap {
        flex: 2;

        @media (width <= 1366px) {
          flex: 1;
        }
      }

      &-openTime {
        flex: 3;

        @media (width <= 1440px) {
          flex: 2;
        }

        @media (width <= 1112px) {
          flex: 1;
        }
      }

      &-openPrice {
        justify-content: flex-end;
        text-align: right;
      }

      &-expandedDetail {
        padding-inline: 0;

        mat-table {
          overflow: hidden;

          mat-row {
            &:hover {
              background: var(--color-table-background-hover);
            }

            mat-cell {
              font-size: 0.8rem;
              opacity: 0.9;

              &.mat-column-closePosition mat-icon {
                font-size: 1rem;
                inline-size: 1rem;
                block-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
