<mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  multiTemplateDataRows
>
  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>

    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="expandRow($event, element)">
        <mat-icon>{{
          expandedElements[element.symbol]
            ? "keyboard_arrow_up"
            : "keyboard_arrow_down"
        }}</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </mat-header-cell>

      <mat-cell *matCellDef="let element" [ngClass]="column.class?.(element)">
        <ng-container
          *ngTemplateOutlet="cell; context: { $implicit: column.cell(element) }"
        ></ng-container>

        @if (column.badge) {
          <span class="badge">{{ column.badge(element) }}</span>
        }
      </mat-cell>
    </ng-container>
  }

  <ng-container matColumnDef="closePosition">
    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>

    <mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        (click)="dataSource.closeOrderGroup($event, element)"
      >
        <mat-icon>playlist_remove</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- expanded -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
    >
      <mat-table
        #expandedTable
        [dataSource]="element.items"
        [style.height]="0"
        [@detailExpand]="
          expandedElements[element.symbol] ? 'expanded' : 'collapsed'
        "
      >
        <ng-container matColumnDef="expand">
          <mat-cell *matCellDef="let element"></mat-cell>
        </ng-container>

        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <mat-cell
              *matCellDef="let element"
              [ngClass]="column.class?.(element)"
            >
              <ng-container
                *ngTemplateOutlet="
                  cell;
                  context: { $implicit: column.cell(element) }
                "
              ></ng-container>
            </mat-cell>
          </ng-container>
        }

        <ng-container matColumnDef="closePosition">
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              (click)="dataSource.closeOrder($event, element, expandedTable)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let element; columns: displayedColumns"
    class="group-row"
    [class.expanded]="expandedElements[element.symbol]"
    (click)="expandRow($event, element)"
  ></mat-row>
  <mat-row
    *matRowDef="let element; columns: ['expandedDetail']"
    [style.min-height]="'unset'"
  ></mat-row>
</mat-table>

<ng-template #cell let-value>
  @if (value === "LOADING") {
    <mat-spinner [diameter]="20"></mat-spinner>
  } @else if (value === "ERROR") {
    <mat-icon matTooltip="Nie udało się pobrać danych" class="error-icon">
      warning
    </mat-icon>
  } @else {
    {{ value }}
  }
</ng-template>
