<mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  multiTemplateDataRows
>
  <ng-container matColumnDef="expand">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>

    <mat-cell *matCellDef="let orderGroup">
      <button mat-icon-button (click)="expandRow($event, orderGroup)">
        <mat-icon>{{
          expandedRows[orderGroup.symbol]
            ? "keyboard_arrow_up"
            : "keyboard_arrow_down"
        }}</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  @for (column of columns; track column) {
    <ng-container [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </mat-header-cell>

      <mat-cell
        *matCellDef="let orderGroup"
        [ngClass]="column.class?.(orderGroup)"
      >
        {{ column.cell(orderGroup) }}

        @if (column.badge) {
          <span class="badge">{{ column.badge(orderGroup) }}</span>
        }
      </mat-cell>
    </ng-container>
  }

  <ng-container matColumnDef="closePosition">
    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>

    <mat-cell *matCellDef="let orderGroup">
      <button
        mat-icon-button
        (click)="dataSource.closeOrderGroup($event, orderGroup)"
      >
        <mat-icon>playlist_remove</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- expanded -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell
      *matCellDef="let orderGroup"
      [attr.colspan]="displayedColumns.length"
    >
      <mat-table
        #expandedTable
        [dataSource]="orderGroup.orders"
        [style.height]="0"
        [@detailExpand]="
          expandedRows[orderGroup.symbol] ? 'expanded' : 'collapsed'
        "
      >
        <ng-container matColumnDef="expand">
          <mat-cell *matCellDef="let order"></mat-cell>
        </ng-container>

        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <mat-cell *matCellDef="let order" [ngClass]="column.class?.(order)">
              {{ column.cell(order) }}
            </mat-cell>
          </ng-container>
        }

        <ng-container matColumnDef="closePosition">
          <mat-cell *matCellDef="let order">
            <button
              mat-icon-button
              (click)="dataSource.closeOrder($event, order, expandedTable)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let order; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let order; columns: displayedColumns"
    class="group-row"
    [class.expanded]="expandedRows[order.symbol]"
    (click)="expandRow($event, order)"
  ></mat-row>
  <mat-row
    *matRowDef="let order; columns: ['expandedDetail']"
    [style.min-height]="'unset'"
  ></mat-row>
</mat-table>
